*{
    background-color: black;
}
*>p{
    color:white;
}
*>h2{
    color:white;
    font-size: 2rem;
    font-weight: 800;
}
*>li{
    color:aqua;
}
*>table{
    color:aqua;
}

#intro>p{
    font-size: large;
    font-weight: bolder;
}




#intro>h1{
    
    color:blue;
    font-size: 3rem;
    font-weight:900;
    text-align: center;
}

